<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Bag</title>
    </head>

    <body>
      <div id="content">
        <h1>Redirecting to Pocket...</h1>
      </div>
      <script>
          window.bag = {
              'token': "<%= requestToken %>",
              'address': "<%= address %>"
          }
      </script>
      <script src="js/index.js"></script>
    </body>
</html>
