<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Bag</title>

    </head>

    <body>
      <h1>Hello World!</h1>
      <script>
          window.bag = {
              'token': "<%= token %>",
              'username': "<%= username %>"
          }
      </script>
      <script src="js/ui.js"></script>
    </body>
</html>
